doctype html
html(lang="ru")
    head
        meta(CHARSET="UTF-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title="example"
    body
        div.slider1
        div.interface
            div.interface__block
                label.interface__label(for="min1")="Min"
                input#min1.interface__input()
            div.interface__block
                label.interface__label(for="max1")="Max"
                input#max1.interface__input
            div.interface__block
                label.interface__label(for="value1_1")="Value"
                input#value1_1.interface__input
            div.interface__block
                label.interface__label(for="label1")="label"
                input#label1(type="checkbox")
        div.slider2
        div.interface
            div.interface__block
                label.interface__label(for="min2")="Min"
                input#min2.interface__input
            div.interface__block
                label.interface__label(for="max2")="Max"
                input#max2.interface__input
            div.interface__block
                label.interface__label(for="value2_1")="Value1"
                input#value2_1.interface__input
            div.interface__block
                label.interface__label(for="label2")="label"
                input#label2(type="checkbox")
        div.slider3
        div.interface
            div.interface__block
                label.interface__label(for="min3")="Min"
                input#min3.interface__input
            div.interface__block
                label.interface__label(for="max3")="Max"
                input#max3.interface__input
            div.interface__block
                label.interface__label(for="value3_1")="Value1"
                input#value3_1.interface__input
            div.interface__block
                label.interface__label(for="value3_2")="Value2"
                input#value3_2.interface__input
            div.interface__block
                label.interface__label(for="value3_3")="Value3"
                input#value3_3.interface__input
            div.interface__block
                label.interface__label(for="label3")="label"
                input#label3(type="checkbox")
        div.slider4
        div.interface
            div.interface__block
                label.interface__label(for="min4")="Min"
                input#min4.interface__input
            div.interface__block
                label.interface__label(for="max4")="Max"
                input#max4.interface__input
            div.interface__block
                label.interface__label(for="value4_1")="Value1"
                input#value4_1.interface__input
            div.interface__block
                label.interface__label(for="value4_2")="Value2"
                input#value4_2.interface__input
            div.interface__block
                label.interface__label(for="label4")="label"
                input#label4(type="checkbox")